In [ ]:
import pandas as pd

In [ ]:
#操作する数
head_num = 3
tail_num = 6

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [ ]:
hand_df = pd.DataFrame(hand)
display(hand_df)

In [ ]:
# 天地
hand_df.T

In [ ]:
hand_df.index = ['e','b','a','d','c','f','g','h','i','j']

In [ ]:
hand_df

In [ ]:
hand_df.head(3)

In [ ]:
hand_df.tail(6).T.head(3).T

# 3週目

In [ ]:
import pandas as pd

In [ ]:
#操作する数
head_num = 3
tail_num = 6

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [ ]:
hand_df = pd.DataFrame(hand)
display(hand_df)

In [ ]:
display(hand_df.T)

In [ ]:
hand_df.index = ['e','b','a','d','c','f','g','h','i','j']
display(hand_df.head(3))

In [ ]:
hand_df.tail(6).T.head(3).T

# 4

In [1]:
import pandas as pd

In [2]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
df_hand = pd.DataFrame(hand)

In [3]:
df_hand

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24   15
1  男性  20代  21  15   40
2  女性  10代   4  35   34
3  男性  10代  60   3   29
4  女性  40代  14  35   14
5  男性  50代  10  29    4
6  女性  40代  12   2   22
7  女性  10代  19  12   17
8  男性  20代  12  11   12
9  男性  10代  14  43   10

In [4]:
df_hand.T

       0    1    2    3    4    5    6    7    8    9
性別    男性   男性   女性   男性   女性   男性   女性   女性   男性   男性
年齢   30代  20代  10代  10代  40代  50代  40代  10代  20代  10代
勝ち    20   21    4   60   14   10   12   19   12   14
負け    24   15   35    3   35   29    2   12   11   43
あいこ   15   40   34   29   14    4   22   17   12   10

In [6]:
df_hand.index = ['e','b','a','d','c','f','g','h','i','j']

In [8]:
df_hand.head(3)

   性別   年齢  勝ち  負け  あいこ
e  男性  30代  20  24   15
b  男性  20代  21  15   40
a  女性  10代   4  35   34

In [9]:
df_hand.tail(6).T.head(3).T

   性別   年齢  勝ち
c  女性  40代  14
f  男性  50代  10
g  女性  40代  12
h  女性  10代  19
i  男性  20代  12
j  男性  10代  14