In [ ]:
import pandas as pd

In [ ]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns =['id','gender','age','address','hobby','job','win','lose','draw']
hand_df1.columns.names = ['feature']
hand_df1.set_index('id', inplace = True)

In [ ]:
display(hand_df1)

In [ ]:
hand_df1.age.value_counts()

In [ ]:
age_gp = hand_df1.groupby(['age'])
display(age_gp.groups)

In [ ]:
hand_df1.groupby(['age']).size()

In [ ]:
hand_df1.groupby(['age']).mean().win

In [ ]:
hand_df1.groupby(['address']).mean().win

# 4

In [ ]:
import pandas as pd

In [ ]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns =['id','gender','age','address','hobby','job','win','lose','draw']
hand_df1.columns.names = ['feature']
hand_df1.set_index('id', inplace = True)

In [ ]:
age_size = hand_df1.groupby('age').size()
display(age_size)
display(type(age_size))
display(type(hand_df1.groupby('age')))

In [ ]:
hand_df1.groupby('age').win.mean()

In [ ]:
for column_data, group in  hand_df1.groupby('age'):
    display(column_data)
    display(group)
    display(group.groupby('address').win.mean())

# 5

In [1]:
import pandas as pd

In [2]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

In [3]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns =['id','gender','age','address','hobby','job','win','lose','draw']
hand_df1.columns.names = ['feature']
hand_df1.set_index('id', inplace = True)

In [4]:
pd.set_option('display.max_rows', 15)

In [5]:
hand_df1

feature gender  age address  hobby  job  win  lose  draw
id
100         男性  30代      東京     野球   IT   20    24    15
101         男性  20代      大阪  ルーレット   医療   21    15    40
102         女性  10代     名古屋  じゃんけん  弁護士    4    35    34
103         男性  10代     北海道     野球   事務   60     3    29
104         女性  40代      東京  ルーレット   事務   14    35    14
105         男性  50代     鹿児島     野球  弁護士   10    29     4
106         女性  40代      大阪  じゃんけん   IT   12     2    22
107         女性  10代     名古屋  ルーレット   IT   19    12    17
108         男性  20代      東京     野球   IT   12    11    12
109         男性  10代      大阪  じゃんけん   事務   14    43    10

In [12]:
hand_df1.groupby('age').size()

age
10代    4
20代    2
30代    1
40代    2
50代    1
dtype: int64

In [14]:
hand_df1.groupby('age')['win'].mean()

age
10代    24.25
20代    16.50
30代    20.00
40代    13.00
50代    10.00
Name: win, dtype: float64

In [25]:
hand_df1.groupby(['age','address']).win.mean()

age  address
10代  北海道        60.0
     名古屋        11.5
     大阪         14.0
20代  大阪         21.0
     東京         12.0
30代  東京         20.0
40代  大阪         12.0
     東京         14.0
50代  鹿児島        10.0
Name: win, dtype: float64