In [ ]:
import pandas as pd

In [ ]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

feature=['id','gender','age','address','hobby','job','win','lose','draw']

In [ ]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature
hand_df1.columns.names = ['feature']

In [ ]:
hand_df1.set_index('id', inplace = True)
display(hand_df1)

In [ ]:
for group, sub_df in hand_df1.groupby('age'):
    display(group)
    display(sub_df)

In [ ]:
display(hand_df1.groupby('age').win.agg('min'))
display(hand_df1.groupby('age').win.agg('max'))
display(hand_df1.groupby('age').win.agg('mean'))

In [ ]:
display(hand_df1.groupby('age').win.agg(['count', 'min', 'max', 'mean']))

In [ ]:
display(hand_df1)
display(hand_df1.groupby('age').agg('min'))

# 3 週目

In [ ]:
import pandas as pd

In [ ]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

feature=['id','gender','age','address','hobby','job','win','lose','draw']

In [ ]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature
hand_df1.columns.names = ['feature']
hand_df1.set_index('id', inplace = True)
hand_df1

In [ ]:
for group, sub_df in hand_df1.groupby('age'):
    display(sub_df)

In [ ]:
group_age = hand_df1.groupby('age')

In [ ]:
display(type(group_age.win.agg('min')))
display(group_age.win.agg('min'))
display(group_age.win.agg('max'))
display(group_age.win.agg('mean'))

In [ ]:
display(group_age.win.agg(['count','min','max','mean']))

In [ ]:
display(group_age.win.agg(['min']))

# 4

In [ ]:
import pandas as pd

In [ ]:
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

feature=['id','gender','age','address','hobby','job','win','lose','draw']

In [ ]:
hand_df = pd.DataFrame(hand1)
hand_df.columns = feature

In [ ]:
hand_df

In [ ]:
for group, sub_df in hand_df.groupby('age'):
    display(group)
    display(sub_df)

In [ ]:
hand_df.groupby('age').win.agg(['count','min', 'max','mean'])

In [ ]:
g = hand_df.groupby('age')

In [ ]:
g.corr()

In [ ]:
g.describe()

# 5

In [1]:
import pandas as pd

In [2]:
# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
    'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
    'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
    'win'  :[20,21, 4,60,14,10,12,19,12,14],
    'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
    'draw':[15,40,34,29,14, 4,22,17,12,10]}

feature=['id','gender','age','address','hobby','job','win','lose','draw']

In [3]:
hand_df = pd.DataFrame(hand1)
hand_df.columns = feature
hand_df.columns.names = ['feature']

In [4]:
hand_df

feature   id gender  age address  hobby  job  win  lose  draw
0        100     男性  30代      東京     野球   IT   20    24    15
1        101     男性  20代      大阪  ルーレット   医療   21    15    40
2        102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3        103     男性  10代     北海道     野球   事務   60     3    29
4        104     女性  40代      東京  ルーレット   事務   14    35    14
5        105     男性  50代     鹿児島     野球  弁護士   10    29     4
6        106     女性  40代      大阪  じゃんけん   IT   12     2    22
7        107     女性  10代     名古屋  ルーレット   IT   19    12    17
8        108     男性  20代      東京     野球   IT   12    11    12
9        109     男性  10代      大阪  じゃんけん   事務   14    43    10

In [30]:
for group, sub_df  in  hand_df.groupby('age'):
        print(group)
        print(sub_df)
        display(sub_df.win.agg(['count','mean','max','min']))
        display(type(sub_df.win.agg(['count','mean','max','min'])))
        display(type(sub_df['win']))       # Series
        display(type(sub_df))                  # DataFrame
        #hand_df.groupby('age')['win'] # DataFrame

10代
feature   id gender  age address  hobby  job  win  lose  draw
2        102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3        103     男性  10代     北海道     野球   事務   60     3    29
7        107     女性  10代     名古屋  ルーレット   IT   19    12    17
9        109     男性  10代      大阪  じゃんけん   事務   14    43    10

count     4.00
mean     24.25
max      60.00
min       4.00
Name: win, dtype: float64

pandas.core.series.Series

pandas.core.series.Series

pandas.core.frame.DataFrame

20代
feature   id gender  age address  hobby job  win  lose  draw
1        101     男性  20代      大阪  ルーレット  医療   21    15    40
8        108     男性  20代      東京     野球  IT   12    11    12

count     2.0
mean     16.5
max      21.0
min      12.0
Name: win, dtype: float64

pandas.core.series.Series

pandas.core.series.Series

pandas.core.frame.DataFrame

30代
feature   id gender  age address hobby job  win  lose  draw
0        100     男性  30代      東京    野球  IT   20    24    15

count     1.0
mean     20.0
max      20.0
min      20.0
Name: win, dtype: float64

pandas.core.series.Series

pandas.core.series.Series

pandas.core.frame.DataFrame

40代
feature   id gender  age address  hobby job  win  lose  draw
4        104     女性  40代      東京  ルーレット  事務   14    35    14
6        106     女性  40代      大阪  じゃんけん  IT   12     2    22

count     2.0
mean     13.0
max      14.0
min      12.0
Name: win, dtype: float64

pandas.core.series.Series

pandas.core.series.Series

pandas.core.frame.DataFrame

50代
feature   id gender  age address hobby  job  win  lose  draw
5        105     男性  50代     鹿児島    野球  弁護士   10    29     4

count     1.0
mean     10.0
max      10.0
min      10.0
Name: win, dtype: float64

pandas.core.series.Series

pandas.core.series.Series

pandas.core.frame.DataFrame

In [28]:
display(hand_df.groupby('age')['win'].agg(['count','max','min','mean']))
display(type(hand_df.groupby('age')['win'].agg(['count','max','min','mean'])))
display(type(hand_df.groupby('age')['win']))

     count  max  min   mean
age
10代      4   60    4  24.25
20代      2   21   12  16.50
30代      1   20   20  20.00
40代      2   14   12  13.00
50代      1   10   10  10.00

pandas.core.frame.DataFrame

pandas.core.groupby.generic.SeriesGroupBy