In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [ ]:
hand_df = pd.DataFrame(hand)

In [ ]:
hand_df

In [ ]:
hand_df[ '性別'] == '男性'

In [ ]:
type(hand_df['勝ち'])

In [ ]:
hand_df['勝ち'] > 10

In [ ]:
type(hand_df[['勝ち']])

In [ ]:
hand_df[['勝ち']] > 10

In [ ]:
hand_df[['勝ち','負け','あいこ']]

In [ ]:
hand_df[['勝ち','負け','あいこ']] > 10

In [ ]:
display(hand_df.loc[hand_df['勝ち']>10]) # DataFrame
display(type(hand_df.loc[hand_df['勝ち']>10]))

In [ ]:
display(hand_df.loc[hand_df['勝ち']>10, '勝ち']) # Series
display(type(hand_df.loc[hand_df['勝ち']>10, '勝ち']))
display(type([hand_df['勝ち']>10]))

In [ ]:
hand_df[hand_df['性別']=='男性']

In [ ]:
hand_df2 = hand_df.drop('年齢', axis = 1)
display(hand_df2)

# 3週目

In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [ ]:
hand_df = pd.DataFrame(hand)
display(hand_df)

In [ ]:
display(hand_df['性別'] == '男性')
display(hand_df[hand_df['性別'] == '男性'])

In [ ]:
hand_df.drop('年齢', axis=1)

# 4週目

In [1]:
import pandas as pd

In [2]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
df_hand = pd.DataFrame(hand)

In [3]:
df_hand['性別'] == '男性'

0     True
1     True
2    False
3     True
4    False
5     True
6    False
7    False
8     True
9     True
Name: 性別, dtype: bool

In [4]:
df_hand

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24   15
1  男性  20代  21  15   40
2  女性  10代   4  35   34
3  男性  10代  60   3   29
4  女性  40代  14  35   14
5  男性  50代  10  29    4
6  女性  40代  12   2   22
7  女性  10代  19  12   17
8  男性  20代  12  11   12
9  男性  10代  14  43   10

In [5]:
df_hand[df_hand['性別']=='男性']

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24   15
1  男性  20代  21  15   40
3  男性  10代  60   3   29
5  男性  50代  10  29    4
8  男性  20代  12  11   12
9  男性  10代  14  43   10

In [7]:
df_hand.drop('年齢', axis=1)

   性別  勝ち  負け  あいこ
0  男性  20  24   15
1  男性  21  15   40
2  女性   4  35   34
3  男性  60   3   29
4  女性  14  35   14
5  男性  10  29    4
6  女性  12   2   22
7  女性  19  12   17
8  男性  12  11   12
9  男性  14  43   10