In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df = pd.DataFrame(hand)

In [ ]:
display(hand_df)

In [ ]:
group = hand_df.groupby('性別')['勝ち']

In [ ]:
group.mean()

In [ ]:
group.max()

In [ ]:
group.min()

In [ ]:
display(hand_df['勝ち'])
display(hand_df['勝ち'].sort_values())
display(hand_df.sort_values('勝ち'))

In [ ]:
import numpy as np
hand_df['あいこ'] = np.nan
display(hand_df)

In [ ]:
hand_df.isnull()

In [ ]:
hand_df.isnull().sum()

# 3週目

In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df = pd.DataFrame(hand)
display(hand_df)

In [ ]:
display(hand_df.groupby('性別')['勝ち'].mean())
display(hand_df.groupby('性別')['勝ち'].max())
display(hand_df.groupby('性別')['勝ち'].min())

In [ ]:
display(hand_df['勝ち'].sort_values())

In [ ]:
import numpy as np
hand_df['あいこ'] = np.nan
display(hand_df)

In [ ]:
hand_df.isnull().sum()

# 4週目

In [1]:
import pandas as pd

In [2]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
df_hand = pd.DataFrame(hand)

In [3]:
df_hand

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24   15
1  男性  20代  21  15   40
2  女性  10代   4  35   34
3  男性  10代  60   3   29
4  女性  40代  14  35   14
5  男性  50代  10  29    4
6  女性  40代  12   2   22
7  女性  10代  19  12   17
8  男性  20代  12  11   12
9  男性  10代  14  43   10

In [5]:
df_hand.groupby('性別')['勝ち'].mean()

性別
女性    12.250000
男性    22.833333
Name: 勝ち, dtype: float64

In [6]:
df_hand.groupby('性別')['勝ち'].max()

性別
女性    19
男性    60
Name: 勝ち, dtype: int64

In [7]:
df_hand.groupby('性別')['勝ち'].min()

性別
女性     4
男性    10
Name: 勝ち, dtype: int64

In [8]:
df_hand['勝ち'].sort_values()

2     4
5    10
6    12
8    12
4    14
9    14
7    19
0    20
1    21
3    60
Name: 勝ち, dtype: int64

In [9]:
import numpy as np
df_hand['あいこ'] = np.nan

In [10]:
df_hand

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24  NaN
1  男性  20代  21  15  NaN
2  女性  10代   4  35  NaN
3  男性  10代  60   3  NaN
4  女性  40代  14  35  NaN
5  男性  50代  10  29  NaN
6  女性  40代  12   2  NaN
7  女性  10代  19  12  NaN
8  男性  20代  12  11  NaN
9  男性  10代  14  43  NaN

In [11]:
df_hand.isnull().sum()

性別      0
年齢      0
勝ち      0
負け      0
あいこ    10
dtype: int64