In [ ]:
import pandas as pd

In [ ]:
#indexとcolumnsの指定
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id1 = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand)
hand_df1.columns = feature1
hand_df1.columns.name = 'feature'
display(hand_df1)

In [ ]:
hand_df1['id'] = id1
display(hand_df1)
hand_df1.set_index('id', inplace=True)
#### もしくは↓
# hand_df1.index = id
# hand_df1.index.names = ['id']


display(hand_df1)

In [ ]:
hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
    '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}
hand2_df = pd.DataFrame(hand2)
display(hand2_df)

In [ ]:
feature2 =['address','hobby','job']
hand2_df.columns = feature2
display(hand2_df)

In [ ]:
hand2_df.columns.names = ['feature']
display(hand2_df)

In [ ]:
id2 = ['100','101','102','103','110','111','106','113','108','114']
hand2_df['id'] = id2
hand2_df.set_index('id', inplace=True)
display(hand2_df)

# 3週目

In [ ]:
import pandas as pd

In [ ]:
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id1 = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [ ]:
hand_df = pd.DataFrame(hand)
hand_df.columns = feature1
hand_df.columns.names = ['feature']
display(hand_df)

In [ ]:
hand_df['id'] = id1
hand_df.set_index('id', inplace=True)
display(hand_df)

In [ ]:
hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
    '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}
hand2_df = pd.DataFrame(hand2)

In [ ]:
id2 = ['100','101','102','103','110','111','106','113','108','114']
hand2_df['id2'] = id2

In [ ]:
hand2_df.set_index('id2', inplace=True)

In [ ]:
hand2_df

# 4週目

In [1]:
import pandas as pd

In [12]:
feature1 =['gender','age','win','lose','draw']
feature2 =['address','hobby','job']
id1 = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
df_hand = pd.DataFrame(hand)
df_hand.columns = feature1
df_hand.columns.names = ['feature']
df_hand.index = id1
df_hand.index.names = ['id']

In [13]:
df_hand

feature gender  age  win  lose  draw
id
100         男性  30代   20    24    15
101         男性  20代   21    15    40
102         女性  10代    4    35    34
103         男性  10代   60     3    29
104         女性  40代   14    35    14
105         男性  50代   10    29     4
106         女性  40代   12     2    22
107         女性  10代   19    12    17
108         男性  20代   12    11    12
109         男性  10代   14    43    10

In [16]:
hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
    '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
    '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}
df_hand2 = pd.DataFrame(hand2)
df_hand2.columns = feature2
df_hand2.columns.names = ['feature']
df_hand2

feature address  hobby  job
0            東京     野球   IT
1            大阪     賭博   医療
2           名古屋  じゃんけん  弁護士
3           北海道     野球   事務
4            東京     賭博   事務
5           鹿児島     野球  弁護士
6            大阪  じゃんけん   IT
7           名古屋     賭博   IT
8            東京     野球   IT
9            大阪  じゃんけん   事務

In [17]:
df_hand2['id'] = id2 = ['100','101','102','103','110','111','106','113','108','114']
df_hand2.set_index('id', inplace=True)
df_hand2

feature address  hobby  job
id
100          東京     野球   IT
101          大阪     賭博   医療
102         名古屋  じゃんけん  弁護士
103         北海道     野球   事務
110          東京     賭博   事務
111         鹿児島     野球  弁護士
106          大阪  じゃんけん   IT
113         名古屋     賭博   IT
108          東京     野球   IT
114          大阪  じゃんけん   事務