In [1]:
import pandas as pd

In [43]:
data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
df = pd.read_csv(data, header=None)

pd.set_option("display.max_rows", 5)
df.columns =  ['class','Alcohol','Malic_acid','Ash',
                'Alcalinity_of_ash','Magnesium','Total_phenols',
                'Flavanoids','Nonflavanoid_phenols','Proanthocyanins',
                'Color_intensity','Hue','OD280_OD315','Proline']
corr = df.corr()

# loc（名前指定)  
ただし、indexに名前がつけられていない時は**[0, 1]**や**0:1**のように指定する

In [44]:
display(df)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [59]:
# 全行、列指定(名)
display(df.loc[:, ['class','Alcohol']])
# 行範囲（番号ー名）、列指定(名)
display(df.loc[0:10, ['class','Alcohol']])  #display(df.loc[0:10, 0:2]) <- Error
# 行範囲、列範囲(名)
display(df.loc[0:2, 'class':'Ash']) # display(df.loc[0:2, 0:3])

     class  Alcohol
0        1    14.23
1        1    13.20
..     ...      ...
176      3    13.17
177      3    14.13

[178 rows x 2 columns]

    class  Alcohol
0       1    14.23
1       1    13.20
..    ...      ...
9       1    13.86
10      1    14.10

[11 rows x 2 columns]

   class  Alcohol  Malic_acid   Ash
0      1    14.23        1.71  2.43
1      1    13.20        1.78  2.14
2      1    13.16        2.36  2.67

In [39]:
display(corr)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OD280_OD315,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000

In [38]:
# 行範囲 (名前)
display(corr.loc['class':"Malic_acid"])
# 行範囲（名前）、列指定(名前)
display(corr.loc['Alcohol':"Color_intensity", ['class','Malic_acid']]) # corr.loc[0:1 ['class','Malic_acid']] <- Error
# 行範囲（名前）、列範囲(名前)
display(corr.loc['Alcohol':"Color_intensity", 'class':'Malic_acid'])# corr.loc[0:1 ['class','Malic_acid']] <- Error

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
Malic_acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011

                    class  Malic_acid
Alcohol         -0.328222    0.094397
Malic_acid       0.437776    1.000000
...                   ...         ...
Proanthocyanins -0.499130   -0.220746
Color_intensity  0.265668    0.248985

[10 rows x 2 columns]

                    class   Alcohol  Malic_acid
Alcohol         -0.328222  1.000000    0.094397
Malic_acid       0.437776  0.094397    1.000000
...                   ...       ...         ...
Proanthocyanins -0.499130  0.136698   -0.220746
Color_intensity  0.265668  0.546364    0.248985

[10 rows x 3 columns]

In [24]:
# 行範囲（名前）、列範囲(名前)
corr.loc['Alcohol':"Color_intensity", 'class':'Malic_acid']

                    class   Alcohol  Malic_acid
Alcohol         -0.328222  1.000000    0.094397
Malic_acid       0.437776  0.094397    1.000000
...                   ...       ...         ...
Proanthocyanins -0.499130  0.136698   -0.220746
Color_intensity  0.265668  0.546364    0.248985

[10 rows x 3 columns]

# iloc (番号指定）

In [8]:
# 全行、列名
display(df.iloc[:])

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [50]:
# 行範囲（番号）、列名
display(df.iloc[0:10, 0:2]) # display(df.loc[0:10,['class','Alcohol']])
#行指定
display(df.iloc[[0,2]])
#行範囲、列指定
display(df.iloc[0:2, [0,3]])
#行範囲、列範囲
display(df.iloc[0:2, 0:4])

    class  Alcohol
0       1    14.23
1       1    13.20
..    ...      ...
8       1    14.83
9       1    13.86

[10 rows x 2 columns]

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1,13.16,2.36,2.67,18.6,101,2.8,3.24,0.30,2.81,5.68,1.03,3.17,1185

   class   Ash
0      1  2.43
1      1  2.14

   class  Alcohol  Malic_acid   Ash
0      1    14.23        1.71  2.43
1      1    13.20        1.78  2.14

In [51]:
display(corr)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OD280_OD315,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000

In [49]:
display(corr.iloc[0:3])             # corr.iloc['class':"Malic_acid"] <- Error
display(corr.iloc[0:3,0:3])

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
Malic_acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011

               class   Alcohol  Malic_acid
class       1.000000 -0.328222    0.437776
Alcohol    -0.328222  1.000000    0.094397
Malic_acid  0.437776  0.094397    1.000000

# Slice

In [61]:
display(df)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [64]:
# 0~9
display(df[0:10])
# 0 ~ 9を2飛びづつ
display(df[0:10:2])

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1,13.16,2.36,2.67,18.6,101,2.8,3.24,0.30,2.81,5.68,1.03,3.17,1185
4,1,13.24,2.59,2.87,21.0,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
6,1,14.39,1.87,2.45,14.6,96,2.5,2.52,0.30,1.98,5.25,1.02,3.58,1290
8,1,14.83,1.64,2.17,14.0,97,2.8,2.98,0.29,1.98,5.20,1.08,2.85,1045

In [65]:
display(corr)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OD280_OD315,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000

In [68]:
display(corr[0:10])
display(corr[0:10:2])

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Nonflavanoid_phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385
Proanthocyanins,-0.499130,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280_OD315,Proline
class,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Malic_acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011
Alcalinity_of_ash,0.517859,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597
Total_phenols,-0.719163,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115
Nonflavanoid_phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385