In [23]:
import pandas as pd
pd.set_option('display.max_rows', 10)

In [24]:
num = ['0','1','2','3','4','5','6','7','8','9']
add_num = ['10']
feature =['id','gender','age','address','hobby','job','win','lose','draw']

hand1 = {'番号'  :['100','101','102','103','104','105','106','107','108','109'],
         '性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
         '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
         '住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
         '趣味'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
         '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
         '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
         '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
         'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature
hand_df1.columns.names = ['feature']
hand_df1.index = num
hand_df1.index.names = ['NUM']
display(hand_df1)

feature   id gender  age address  hobby  job  win  lose  draw
NUM
0        100     男性  30代      東京     野球   IT   20    24    15
1        101     男性  20代      大阪  ルーレット   医療   21    15    40
2        102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3        103     男性  10代     北海道     野球   事務   60     3    29
4        104     女性  40代      東京  ルーレット   事務   14    35    14
5        105     男性  50代     鹿児島     野球  弁護士   10    29     4
6        106     女性  40代      大阪  じゃんけん   IT   12     2    22
7        107     女性  10代     名古屋  ルーレット   IT   19    12    17
8        108     男性  20代      東京     野球   IT   12    11    12
9        109     男性  10代      大阪  じゃんけん   事務   14    43    10

In [25]:
hand2 = {'id':['104'],
         'gender':['女性'],
         'age':['40代'],
         'address':['東京'],
         'hobby':['ルーレット'],
         'job':['事務'],
         'win':[14],
         'lose':[35],
         'draw':[14]}
hand_df2 = pd.DataFrame(hand2)
hand_df2.columns = feature
hand_df2.columns.names = ['feature']
hand_df2.index = add_num
hand_df2.index.nmaes = ['NUM']
display(hand_df2)

feature   id gender  age address  hobby job  win  lose  draw
10       104     女性  40代      東京  ルーレット  事務   14    35    14

In [ ]:
hand_df2 = hand_df1.append(hand_df2)

In [ ]:

display(type(hand_df2.duplicated()))
hand_df2.duplicated()

In [ ]:
hand_df2[hand_df2.duplicated()]

In [ ]:
hand_df2.drop_duplicates()

In [ ]:
display(type(hand_df2.isnull()))
hand_df2.isnull().sum()

In [ ]:
display(type(hand_df2.duplicated()))
hand_df2.duplicated().sum()

# 3週目

In [ ]:
import pandas as pd

In [ ]:
add_num = ['10']
feature =['id','gender','age','address','hobby','job','win','lose','draw']
num = ['0','1','2','3','4','5','6','7','8','9']
hand1 = {'番号'  :['100','101','102','103','104','105','106','107','108','109'],
         '性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
         '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
         '住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
         '趣味'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
         '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
         '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
         '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
         'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand2 = {'id':['104'],
         'gender':['女性'],
         'age':['40代'],
         'address':['東京'],
         'hobby':['ルーレット'],
         'job':['事務'],
         'win':[14],
         'lose':[35],
         'draw':[14]}

In [ ]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature
hand_df1.columns.names = ['feature']
hand_df1.index = num
hand_df1.index.names = ['NUM']

hand_df2 = pd.DataFrame(hand2)
hand_df2.index = add_num
hand_df2.index.names=['NUM']

In [ ]:
df_append = hand_df1.append(hand_df2)

In [ ]:
df_concat = pd.concat([hand_df1, hand_df2])

In [ ]:
display(df_append)

In [ ]:
dff_bool = df_append != df_concat

In [ ]:
dff_bool.sum()

In [ ]:
display(df_append[df_append.duplicated()])
display(df_concat[df_concat.duplicated()])

In [ ]:
display(df_append.drop_duplicates())

In [ ]:
# 完全(type, 値)に行が重複していないとDuplicatedにはならない
hand3 = {'id':['104'],
         'gender':['男性'],
         'age':['40代'],
         'address':['東京'],
         'hobby':['ルーレット'],
         'job':['事務'],
         'win':[14],
         'lose':[35],
         'draw':[14]}
hand_df3 = pd.DataFrame(hand3)
hand_df3.index = add_num
hand_df3.index.names = ['NUM']
display(hand_df3)
hand_df1.append(hand_df3).duplicated()

In [ ]:
# 重複した行を削除する
df_append_drop = df_append.drop_duplicates()
display(df_append_drop)
display(df_append_drop.isnull().sum())

# 4

In [ ]:
import pandas as pd

In [ ]:
feature1 =['gender','age','win','lose','draw']
hand1 = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
id1 = ['100','101','102','103','104','105','106','107','108','109']

feature2 =['address','hobby','job']
hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
        '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
        '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}
id2 = ['100','101','102','103','110','111','106','113','108','114']

In [ ]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature1
hand_df1.columns.names = ['feature']
hand_df1.index = id1
hand_df1.index.names = ['id']
hand_df2 = pd.DataFrame(hand2)
hand_df2.columns = feature2
hand_df2.columns.names = ['feature']
hand_df2.index = id2
hand_df2.index.names = ['id']

In [ ]:
hand_concat_df = pd.concat([hand_df1, hand_df2], sort=True)
hand_concat_df

In [ ]:
hand_append_df = hand_df1.append(hand_df2)
hand_append_df

In [ ]:
hand_concat_df[hand_concat_df.duplicated()]

In [ ]:
hand_concat_drop_df = hand_concat_df.drop_duplicates()
hand_concat_drop_df

In [ ]:
hand_concat_drop_df.isna().sum()

# 5

In [1]:
import pandas as pd

In [2]:
feature1 =['gender','age','win','lose','draw']
hand1 = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
id1 = ['100','101','102','103','104','105','106','107','108','109']

feature2 =['address','hobby','job']
hand2 = {'住所'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
        '趣味'  :['野球','賭博','じゃんけん','野球','賭博','野球','じゃんけん','賭博','野球','じゃんけん'],
        '仕事'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務']}
id2 = ['100','101','102','103','110','111','106','113','108','114']

In [15]:
hand_df1 = pd.DataFrame(hand1)
hand_df1.columns = feature1
hand_df1.columns.names = ['feature']
hand_df1.index = id1
hand_df1.index.names = ['id']
hand_df2 = pd.DataFrame(hand2)
hand_df2.columns = feature2
hand_df2.columns.names = ['feature']
hand_df2.index = id2
hand_df2.index.names = ['id']
pd.set_option('display.max.rows', 10)

In [16]:
display(hand_df1)
display(hand_df2)

feature gender  age  win  lose  draw
id
100         男性  30代   20    24    15
101         男性  20代   21    15    40
102         女性  10代    4    35    34
103         男性  10代   60     3    29
104         女性  40代   14    35    14
105         男性  50代   10    29     4
106         女性  40代   12     2    22
107         女性  10代   19    12    17
108         男性  20代   12    11    12
109         男性  10代   14    43    10

feature address  hobby  job
id
100          東京     野球   IT
101          大阪     賭博   医療
102         名古屋  じゃんけん  弁護士
103         北海道     野球   事務
110          東京     賭博   事務
111         鹿児島     野球  弁護士
106          大阪  じゃんけん   IT
113         名古屋     賭博   IT
108          東京     野球   IT
114          大阪  じゃんけん   事務

In [22]:
concat =  pd.concat([hand_df1, hand_df2])
duplicated =concat.duplicated()
concat[duplicated]

/Users/hirokuni/.pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    address  age  draw gender hobby job  lose  win
id
108      東京  NaN   NaN    NaN    野球  IT   NaN  NaN