In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(['ぐー','ちょき','ぱー'])

In [ ]:
type(s)

In [ ]:
display(s)

In [ ]:
display(s[1])
display(s.iloc[1])
display(s.loc[1])

In [ ]:
type(s[1])

In [ ]:
type(s.iloc[1])

In [ ]:
s.dtype

In [ ]:
s.index = ['a','b','c']
display(s)
display(s.index)

In [ ]:
s2 = pd.Series([1,2,3])
s2.dtype

# 3週目

In [1]:
import pandas as pd

In [6]:
data = pd.Series(['ぐー','ちょき','ぱー'])
display(data)

0     ぐー
1    ちょき
2     ぱー
dtype: object

In [4]:
data[1]

'ちょき'

In [9]:
data.dtypes

dtype('O')

In [10]:
type(data)

pandas.core.series.Series

In [11]:
data.index =['a','b','c']
display(data)

a     ぐー
b    ちょき
c     ぱー
dtype: object

In [12]:
data.index

Index(['a', 'b', 'c'], dtype='object')

# 4週目

In [1]:
import pandas as pd

In [2]:
Series = pd.Series(['ぐー','ちょき', 'ぱー'])
df = pd.DataFrame(Series)

In [4]:
display(df)
display(Series)

     0
0   ぐー
1  ちょき
2   ぱー

0     ぐー
1    ちょき
2     ぱー
dtype: object

In [5]:
Series[1]

'ちょき'

In [8]:
Series.dtypes

dtype('O')

In [9]:
Series.index = ['a','b','c']

In [10]:
Series

a     ぐー
b    ちょき
c     ぱー
dtype: object