In [1]:
import pandas as pd
import numpy as np
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [2]:
hand_df = pd.DataFrame(hand)
display(hand_df)

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24   15
1  男性  20代  21  15   40
2  女性  10代   4  35   34
3  男性  10代  60   3   29
4  女性  40代  14  35   14
5  男性  50代  10  29    4
6  女性  40代  12   2   22
7  女性  10代  19  12   17
8  男性  20代  12  11   12
9  男性  10代  14  43   10

In [3]:
display('columns: {}'.format(hand_df.columns))
display('index: {}'.format(hand_df.index))

"columns: Index(['性別', '年齢', '勝ち', '負け', 'あいこ'], dtype='object')"

'index: RangeIndex(start=0, stop=10, step=1)'

In [4]:
display(hand_df.groupby('性別').mean())
display(hand_df.groupby(['性別','年齢']).mean())

           勝ち         負け        あいこ
性別
女性  12.250000  21.000000  21.750000
男性  22.833333  20.833333  18.333333

          勝ち    負け   あいこ
性別 年齢
女性 10代  11.5  23.5  25.5
   40代  13.0  18.5  18.0
男性 10代  37.0  23.0  19.5
   20代  16.5  13.0  26.0
   30代  20.0  24.0  15.0
   50代  10.0  29.0   4.0

In [5]:
display(hand_df.groupby('性別')['勝ち'].max())

性別
女性    19
男性    60
Name: 勝ち, dtype: int64

In [6]:
display(hand_df.groupby('性別')['勝ち'].min())

性別
女性     4
男性    10
Name: 勝ち, dtype: int64

In [7]:
display(hand_df['勝ち'].sort_values())

2     4
5    10
6    12
8    12
4    14
9    14
7    19
0    20
1    21
3    60
Name: 勝ち, dtype: int64

In [11]:
hand_df['あいこ'] = np.nan
display(hand_df)

   性別   年齢  勝ち  負け  あいこ
0  男性  30代  20  24  NaN
1  男性  20代  21  15  NaN
2  女性  10代   4  35  NaN
3  男性  10代  60   3  NaN
4  女性  40代  14  35  NaN
5  男性  50代  10  29  NaN
6  女性  40代  12   2  NaN
7  女性  10代  19  12  NaN
8  男性  20代  12  11  NaN
9  男性  10代  14  43  NaN

In [12]:
display(hand_df.isnull().sum)

<bound method DataFrame.sum of       性別     年齢     勝ち     負け   あいこ
0  False  False  False  False  True
1  False  False  False  False  True
2  False  False  False  False  True
3  False  False  False  False  True
4  False  False  False  False  True
5  False  False  False  False  True
6  False  False  False  False  True
7  False  False  False  False  True
8  False  False  False  False  True
9  False  False  False  False  True>